[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "grpseq"]
	path = grpseq
	url = https://github.com/cran/grpseq
[submodule "rmt"]
	path = rmt
	url = https://github.com/cran/rmt
[submodule "WA"]
	path = WA
	url = https://github.com/cran/WA
[submodule "Wcompo"]
	path = Wcompo
	url = https://github.com/cran/Wcompo
[submodule "WR"]
	path = WR
	url = https://github.com/cran/WR
